.jumbotron {
  min-height: 100vh;
  background-image: url("img//projects/pemandangan.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

/* gradasi HANYA di bagian bawah */
.jumbotron::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #ffffff);
}
.hero-logo {
  background: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.35));
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* My Keyboard Section */
.keyboard-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.keyboard-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::before {
  opacity: 0.2;
}

.keyboard-box::after {
  content: "KEYBOARD";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::after {
  opacity: 0.2;
}

.keyboard-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}

.keyboard-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
}

.keyboard-box:hover .keyboard-detail-button {
  opacity: 1;
  bottom: 20px;
}

.keyboard-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
  transition: 0.5s;
  z-index: 2;
}

.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

.badge-lg {
  font-size: 1rem;
  padding: 0.8em 1.2em;
}

#about .card {
  border-radius: 15px;
}

#about h6 {
  font-weight: 600;
}

#about ul li {
  padding: 3px 0;
}
